<% provide(:title, 'Acerca De') %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Acerca De</h1>
    <p>
      Seren0 es una herramienta practica y facil de usar, ya sea tanto como para el docente,
      asi como para el alumno, en la cual podran verse las notas de la materia que el alumno
      esta cursando y la docente mantendra informados a todos sus estudiantes.
    </p>
  </body>
</html>