<% provide(:title, 'Ayuda') %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Ayuda</h1>
    <p>
      Para aprender a usar el sistema y su correcto funcionamiento, puede ver un video en:
      <a href="#">Tutorial Seren0</a>.
    </p>
  </body>
</html>