<footer class="footer">
  <small>
    Seren0: Sistema de Registro de Notas por Oscar Gonzalez
  </small>
  <nav>
    <ul>
      <li><%= link_to "Facebook",   'http://www.facebook.com/oscar.sgc' %></li>
    </ul>
  </nav>
</footer>